body{
   background-image:url('one.jpg');
   background-repeat:no-repeat;
   background-position:top right;
   margin-right:500px;
}
h1{
    text-align:left;
    color:#FF0000;
    font-size:20pt;
    background-color:#00ffff;
}

h2{
    text-align:left;
    color:#FF0000;
    font-size:20pt;
}

