ul{
	list-style-type: none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
	
}
li{
	display:inline;
}
a:link,a:visited{
	font-weight:bold;
	color:#ffffff;
	background-color:#00ff00;
	text-align:center;
	padding:6px;
	text-transform:uppercase;	
	
}
a:hover,a:active{
	background-color:#003000;
	
}
